<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /profesoral/public/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /profesoral/public/index.html [L]
</IfModule>
